job('maven_dsl') {

    description('Maven dsl project')

    scm {
        git('https://github.com/Chaveen123/first-demo-project.git', 'main', {node -> node / 'extensions' << '' })
    }

    steps {
        maven {
            mavenInstallation('MAVEN_3.9.9')
            goals('-B -DskipTests clean package')
        }
        maven {
            mavenInstallation('MAVEN_3.9.9')
            goals('test')
        }
        shell('''
            echo ************RUNNING THE JAR************************
            java -jar /var/lib/jenkins/workspace/maven_dsl/target/first-demo-project-1.0-SNAPSHOT.jar
        ''')
    }

    publishers {
        archiveArtifacts('target/*.jar')
        archiveJunit('target/surefire-reports/*.xml')
        mailer('chaveenpe@gmail.com', true, true)
    }
}
